body{


    background-color: beige;
}
.middleContainer{
    display: block;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 50%;
    font-size: 2ch;
    background-color: beige;
}

.topContainer{
    display: block;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 30%;
    font-size: 2ch;
    padding: 0 35px;;

}

.LuckyNumber{
    display: block;
    align-items: center;
    align-content: center;
    margin: 18px auto;
    width: 50%;
    font-size: 2ch;
    border-color: rgb(11, 12, 10);

}
.DOB{
    display: block;
    align-items: center;
    align-content: center;
    margin:  18px auto;
    width: 50%;
    font-size: 2ch;
    border-color: rgb(11, 12, 10);
}

.check{
    display: block;
    align-items: center;
    align-content: center;
    margin:  18px auto;
    width: 50%;
    font-size: 2ch;
    border-radius: 2vh;
    background-color:lawngreen;

}

.labelClass{
    display: block;
    align-items: center;
    align-content: center;
    margin:  18px auto;
    width: 50%;
    font-size: 2ch;
    color: blueviolet;


}

.ContactMe{
    
    display: flex;
    
    align-items: center;
    align-content: center;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;;
    width: fit-content;
    font-size: 2ch;
  
  }

  .footer-link{

    margin-right: 15px;
    color: blueviolet;
  }